# String Format

In [28]:
a = 3
b = 2.1
c = 'hello'
print('a = {}, b = {}, c = {}'.format(a, b, c))
print('a = {0}, b = {1}, c = {2}'.format(a, b, c))
print('c = {2}, b = {1}, a = {0}'.format(a, b, c))

a = 3, b = 2.1, c = hello
a = 3, b = 2.1, c = hello
c = hello, b = 2.1, a = 3

In [29]:
a = 'abc'
b = 'edf'

print('{text1}, {text2}'.format(text1=a, text2=b))

abc, edf

In [30]:
my_list = ['abc', 'edf']
print('{0[0]}, {0[1]}'.format(my_list))

abc, edf

In [31]:
my_tuple = ('abc', 'edf')
print('{0[0]}, {0[1]}'.format(my_tuple))

abc, edf

In [40]:
a = 3
b = 2.112321345566
c = 'hello'
print('{0:10d}'.format(a))
print('{0:10f}'.format(b))
print('{0:10.2f}'.format(b))
print('{0:10s}'.format(c))

         3
  2.112321
      2.11
hello

In [41]:
a = 3
b = 2.112321345566
c = 'hello'
print('{0:>10d}'.format(a))
print('{0:>10f}'.format(b))
print('{0:>10.2f}'.format(b))
print('{0:>10s}'.format(c))

         3
  2.112321
      2.11
     hello

In [43]:
a = 3
b = 2.112321345566
c = 'hello'
print('{0:<10d}'.format(a))
print('{0:<10f}'.format(b))
print('{0:<10.2f}'.format(b))
print('{0:<10s}'.format(c))

3
2.112321
2.11
hello

In [44]:
a = 3
b = 2.112321345566
c = 'hello'
print('{0:^10d}'.format(a))
print('{0:^10f}'.format(b))
print('{0:^10.2f}'.format(b))
print('{0:^10s}'.format(c))

    3
 2.112321
   2.11
  hello

In [48]:
a = 1273212
print('int: {0:d}, bin: {0:b}, oct: {0:o}, hex: {0:x}'.format(a))
print('int: {0:#d}, bin: {0:#b}, oct: {0:#o}, hex: {0:#x}'.format(a))
print('{:,}'.format(a))

int: 1273212, bin: 100110110110101111100, oct: 4666574, hex: 136d7c
int: 1273212, bin: 0b100110110110101111100, oct: 0o4666574, hex: 0x136d7c
1,273,212

In [49]:
import datetime

d = datetime.datetime(2020, 1, 1, 12, 33, 43)
print('{:%Y-%m-%d %H:%M:%S}'.format(d))

2020-01-01 12:33:43

# Regular Expression

In [24]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.match("^The.*Spain$", txt)

if (x):
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

In [26]:
import re

txt = "ABC123 The rain in Spain"
x = re.match("^The.*Spain$", txt)

if (x):
    print("YES! We have a match!")
else:
    print("No match")

No match

In [13]:
import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if (x):
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

In [16]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [17]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [23]:
import re

line = "Cats are smarter than dogs";

matchObj = re.match( r'dogs', line)
if matchObj:
    print("match --> matchObj.group() : {}".format(matchObj.group()))
else:
    print("No match!!")

searchObj = re.search( r'dogs', line)
if searchObj:
    print("search --> searchObj.group() : {}".format(searchObj.group()))
else:
    print("Nothing found!!")

No match!!
search --> searchObj.group() : dogs

In [1]:
import re
 
pattern='abc'
string='123321 abc abc abc'
match = re.findall(pattern,string)
print(match)

['abc', 'abc', 'abc']

In [15]:
import re

#Return a list containing every occurrence of "ai":

txt = "The rain in Spain"
match = re.findall("ai", txt)
print(match)

['ai', 'ai']

In [2]:
pattern = "a+b*c"
string = 'aabc, ac, aabbccc abb, dd'
match = re.findall(pattern, string)
print(match)

['aabc', 'ac', 'aabbc']

In [3]:
pattern = "a*b+c"
string = 'abbbbc, bc, bcccc,c, acc'
match = re.findall(pattern, string)
print(match)

['abbbbc', 'bc', 'bc']

In [4]:
pattern = "[0-9]+"
string = 'there are 77 apples, 110 bananas, and 5 pineapples'
match = re.findall(pattern, string)
print(match)

['77', '110', '5']

In [5]:
pattern = "[1-3]+"
string = 'abc123, aaabbcc111123, aaa123333bbccc, 1222223'
match =re.findall(pattern, string)
print(match)

['123', '111123', '123333', '1222223']

In [6]:
pattern = "[dor]mit"
string = 'admit, commit, emit, omit, permit'
match = re.findall(pattern, string)
print(match)

['dmit', 'omit', 'rmit']

In [7]:
pattern = "isa{2,5}c"
string = 'These are my friends kevin, andy, isaac, isac, isaaaac, isaaac,and maggie'
match = re.findall(pattern, string)
print(match)

['isaac', 'isaaaac', 'isaaac']

In [8]:
pattern = "[A-Z]+[a-z]"
string = 'ABi, BBc, CNn, ai, be, cd'
match = re.findall(pattern, string)
print(match)

['ABi', 'BBc', 'CNn']

In [9]:
pattern = "\..{2}"
string = 'www.yahoo.com.tw , www.ntu.edu.tw , www.test.gov.tw'
match = re.findall(pattern, string)
print(match)

['.ya', '.co', '.tw', '.nt', '.ed', '.tw', '.te', '.go', '.tw']

In [10]:
pattern = "I have a dream|I don't have to work"
string = 'I have a dream that I don\'t have to work'
match = re.findall(pattern, string)
print(match)

['I have a dream', "I don't have to work"]

In [12]:
pattern = "([A-Za-z0-9._]+@[A-Za-z.]+)"
string = 'isaac60103@gmail.com, isaac60103@hotmail.com, kevin@yahoo.com'
match = re.findall(pattern, string)
print(match)

['isaac60103@gmail.com', 'isaac60103@hotmail.com', 'kevin@yahoo.com']